@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    /* color del texto */
    --text-primary: hsl(238, 29%, 16%);
    --hover: hsl(14, 88%, 65%);
    --text-subitem: hsl(237, 12%, 33%);
    --paragraph-color: hsl(240, 6%, 50%);

    /* background */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --white:white;
    /* Divisor */
    --border-bottom: hsl(240, 5%, 91%);

    /* tamaños de text */
    --paragraph-text:0.75rem;
    --titulo:1.5rem;
    --title-bold:700;
    --paragraph:400;

    /*fuentes */
    --kumbth:'Kumbh Sans',sans-serif;


}

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom,var(--Soft-violet),var(--Soft-blue));
}
button{
    border: none;
    background-color: var(--white);
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 33.4375rem;
    width: 20.625rem;
    background-color: white;
    border-radius: 20px;
    margin: 9.625rem 0 6.25rem;

}

/* imagenes del contenedor */
.mobile-female{
    background-image: url('../images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    height: 11.375rem;
    width: 17.8125rem;
    position: absolute;
    top: -6.625rem;
}
.mobile-female::before{
    content: '';
    position: absolute;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    width: 17rem;
    height: 7rem;
    top: 6rem;
    left: 1.70rem;
}
.background{
    display: none;
}
@media screen and (min-width: 1024px) {
    .container{
        min-width: 57.5rem;
        min-height: 31.75rem;
    }
    .mobile-female{
        position: relative;
        background-image: url('../images/illustration-woman-online-desktop.svg');
     
        width: 66.85rem;
        height: 22.5rem;
        align-self: center;
        right:  5rem;
        top:0;
    }
    .mobile-female::before{
        display: none;
    }
    .background{
        display: block;
        position: absolute;
    }
}
/* contenedor de contenido */
.item{
    margin: 0 1.5rem;
    border-bottom: 1px solid var(--border-bottom);
}
.container-texto{
    margin-top: 8rem;
    width: 100%;
}
.box{
    display: none;
}
@media screen and (min-width: 1024px) {
    .container-texto{
        margin-top: 5rem;
        margin-right: 2.5rem;
    }
    .box{
        display: block;
        position: absolute;
        right: 51rem;
        top: 14rem;
        z-index: 1;
    }
}

.subcontainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-format{
    text-align: center;
    font-size: var(--titulo);
    font-weight: var(--title-bold);
    font-family: var(--kumbth);
    color: var(--text-primary);
    margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
    .title-format{
        text-align: left;
        margin: 0 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.subtitle-format{
    text-align: left;
    font-size: var(--paragraph-text);
    font-weight: var(--paragraph);
    font-family: var(--kumbth);
    color: var(--text-subitem);
    padding: 0.75rem 0;
}
.subtitle-format:hover{
    color: var(--text-primary);
}

/* accordion */
.text-hiden{
    display: none;
    
}
.text-no-hiden{
    display: block;
}
.accordion{
    outline: none;
}
.parrafo{
    font-size: var(--paragraph-text);
    font-family: var(--kumbth);
    color: var(--paragraph-color);
    padding: 0.75rem 0;
}

/* animacion flecha*/
.round{
    animation-duration: 0.5s;
    animation-name: revertir;
    transform: rotate(0);
}
.round-down{
    animation-duration: 0.5s;
    animation-name: girar;
    transform: rotate(-180deg);
}
@keyframes revertir{
    from{
        transform: rotate(-180deg);
    }
    to{
        transform: rotate(0);
    }
}
@keyframes girar{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-180deg);
    }
}